/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 10px;
}

ul {
  list-style-type: none;
  text-align: left;
}

/* header */
.header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
div.plan-duration {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
.pill {
  background-color: black;
  border-radius: 10px;
  width: 25px;
  height: 15px;
  margin: 0 10px;
  position: relative;
}

.circle {
  background-color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0px;
  border: 1px solid black;
}

.pill-yearly {
  background-color: white;
  border-radius: 10px;
  width: 25px;
  height: 15px;
  border: 1px solid rgb(128, 128, 128);
  margin: 0 10px;
  position: relative;
}

.circle-yearly {
  background-color: white;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  right: -1px;
  top: -1px;
  border: 1px solid rgb(128, 128, 128);
}

/* main */

.cards {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  flex-wrap: wrap;
  gap: 5px;
}

.list > * {
  padding: 10px 0;
}

.list {
  background-color: #ffffff;
  box-shadow: 2px 2px 2px 2px lightgray;
  border-radius: 8px;
  padding: 10px 30px;
  text-align: center;
  flex-basis: calc(900 / 3 - (5 * 2 / 3));
  flex-shrink: 0;
  flex-grow: 1;
  min-width: ;
}

.choose-button {
  margin: 10px auto;
  background-color: #6501ff;
  border: none;
  border-radius: 8px;
  width: 100%;
  color: white;
  font-weight: 600;
}

.professional-card .choose-button {
  background-color: white;
  color: #6501ff;
}

.professional-card {
  background-color: #6501ff;
  color: white;
}
.professional-card .badge {
  color: black;
}

header > h2,
h2 + p {
  text-align: left;
}

.price {
  font-weight: 600;
  font-size: 2rem;
}

.dollaro {
  font-size: 14px;
}

.grey-text {
  font-size: 12px;
  color: #96979b;
}

.badge {
  background-color: #e3e3e3;
  border-radius: 8px;
  padding: 4px;
  font-size: 14px;
}

.bi {
  font-size: 25px;
}

ul > * {
  padding: 10px 0;
}

li.check::before {
  content: "✓";
  padding: 0 10px;
}

li.cross::before {
  content: "✕";
  padding: 0 10px;
}
