/* reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px 10px;
}

/* header */
.header {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.plan-duration {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}
